extend layout.jade

block navbar
  include partials/navbar.jade
block content
  h1 #{menus.list[0].name}
  hr
  h1 55555144554444ggggg
  p Lorem ipsum dolor sit amet br consectetur adipisicing elit. 
  span 99999
  
     
                                      
    